.chart {
  box-shadow: 0 0 5px 3px var(--CL-neutral-light);
  border-radius: 0.5em;
  display: flex; 
  justify-content: space-between;
  gap: 20px; 
}

@media (max-width: 768px) {
  .chart {
    flex-direction: column; 
    gap: 10px; 
  }
}

.chart-item {
  flex: 1;
  min-width: 0; 
}
